Python==3.5.x or above
Django==3.0.4
django-tinymce4-lite==1.7.5
jsmin==2.2.2
Pillow==6.1.0
pytz==2019.1
sqlparse==0.3.0

Materialize css(included)
Materialize javascript(included)
      -ref: https://materializecss.com/getting-started.html
Google API of icons
      -ref: https://fonts.googleapis.com/icon?family=Material+Icons
Google API of fonts
      -ref: https://fonts.googleapis.com/css?family=Raleway
