    {% extends 'main/header.html' %}
    {% block title %} {{user.username}}'s Profile {% endblock %}

    {% block account %}
    <main>
        <h1 class="center" style="margin-top: -10px;">	<center><h1><b>Welcome {{user.username}}!</b></h1></center></h1>
        <div class="container hoverable" style="padding: 20px; background-color: white; margin-top: 10px;">
            
        <!-- <ul class="collection with-header"> -->
        <ul class="collection">
            <!-- <li class="collection-header"><h4>First Names</h4></li> -->
            <li class="collection-item"><h6><b>Username&nbsp;&nbsp;: </b>{{user.username}}</h6></li>
            <li class="collection-item"><h6><b>FirstName&nbsp;&nbsp;: </b>{{user.first_name}}</h6></li>
            <li class="collection-item"><h6><b>LastName&nbsp;&nbsp;: </b>{{user.last_name}}</h6></li>
            <li class="collection-item"><h6><b>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b>{{user.email}}</h6></li>
        </ul>
        <div class="center-align">
                <a href="/account/edit_profile" class="waves-effect red waves-yellow btn pulse" d><i class="material-icons left">edit</i><b>Edit Details</b></a>
        </div>
    </main>
    <br>
 {% endblock %}