{% extends 'main/header.html' %}
    {% block title %}Community | Explore & ask{% endblock %}

    {% block content %}
        <center><h1 style="margin: 15px;"><b>Welcome to Community!</b></h1></center>
        {% load static %}
        <div class="container">
		    <h6><b>List of Active Users are: </b></h6>

            <ul class="collection">
                {% for u in users %}
                    <li class="collection-item avatar">
                      <img src="{% static 'main/images/back1.jpg' %}" alt="" class="circle">
                      <span class="title">{{u}}</span>
                      <p>First Line <br>
                         Second Line
                      </p>
                      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                {% endfor %}
            </ul>
                      
            <!-- <img class="responsive-img" src=" static 'main/images/under_construction.jpg"> -->

        </div>
    <br><br>
    {% endblock %}