{% extends 'main/header.html' %}
{% block title %}{{series_title}}{% endblock %}
<!-- This redirected from series -->
{% block content %}

<div class="container style="max-width:1500px; min-height:100%">
    <br>
    <a href="javascript:history.go(-1);" class="waves-effect waves-yellow btn">
            <i class="material-icons left">chevron_left</i>
            <b>Go Back</b>
    </a><br>
    <div class="row">
        {% for es in essays %} 
        <!-- size 6 on a large screen, 12 on a small, 6 on a med -->
            <div class="col s12 m6 l6">
                <a href="{{es.essay_slug}}" class="waves-effect waves-light" style="color:#000">
                    <div class="card-panel hoverable" style="height:470px; background-color:#FFFFFF;">
                        <div class="card-image">
                            <img class="responsive-img" src="{{ es.essay_image.url }}" style="width:400px;height: 280px;">
                            <br><span class="card-title"><h6><b>{{es.essay_title}}</b></h6></span>
                        </div>
                        <div class="card-content">
                            <p>{{es.essay_content | truncatechars_html:100|safe}}</p>
                        </div>
                        <div class="card-action right-align">
                            <a href="{{es.essay_slug}}" class="waves-effect waves-light btn" style="color: white; background-color:light blue"><b>Read More..</b></a>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

