{% extends "main/header.html" %}
{% block title %}Give Feedback{% endblock %}

{% block content %}
{{ form.media }}
    <div class="container ">
    <center><h3 class="header"><b>Write Your Feedback Here!</b></h3></center>
        <div class="hoverable" style="background-color: #ffffff">
            <div style="margin: 20px; padding-top: 12px;padding-bottom: 15px;">
                <form method="post" action='' enctype="multipart/form-data">

                        {% csrf_token %}
                        {{ form.as_p}}

                        <div style="padding-top: 20px;padding-bottom:20px;">
                        <button class="btn waves-effect waves-light" type="submit" name="action"><b>Send Feedback
                                </b><i class="material-icons right">send</i>
                        </button>
                        </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}