<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link href="{% static 'main/css/materialize.css' %}" rel="stylesheet"/>
		<!-- For icon in menu -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style>
    <script type="text/javascript" src="{% static 'main/js/bin/materialize.min.js' %}"></script>
    <!-- Configurations of tinymce app -->
    <script src="{% static 'tinymce/js/prism.js' %}"></script>
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
</head>
<body>
	{% include 'main/includes/navbar.html' %}
	{% include 'main/includes/fixed_action_button.html' %}
  {% include 'main/includes/messaging.html' %}
  <br>
	{% block content %}
	{% endblock %}
	<br>
  {% include 'main/includes/footer.html' %}
  <script type="text/javascript">M.AutoInit();</script>
</body>
</html>