{% extends 'main/header.html' %}
{% block title %}Home | Explore{% endblock %}
{% block content %}
<div class = "container">
    <div class="row">
        {% for cat in category %}
            <div class="col s12 m6 l4">
                <a href="{{cat.category_slug}}", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">{{cat.category_title}}</div>
                            <p>{{cat.category_summary}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}