{% extends 'main/header.html' %}
{% block title %}All Categories | Explore{% endblock %}
{% block content %}

<div class="container" >
    <br>
    <div style="max-width:1500px; min-height:100%; background-color: #e0e0e0;padding-top: 10px;">
    <!-- <nav class="brown darken-1"> -->
            <!-- <div class="nav-wrapper" > -->
              <div class="col s12" style="font-size: 130%">
                <a href="javascript:history.go(0);" class="tooltipped" data-position="bottom" data-tooltip="All Categories">&nbsp;<b>All Category</b></a>
               </div>
            <!-- </div> -->
    <!-- </nav> -->
    <div class="row">
        {% for cat in category %}
        <!-- size 6 on a large screen, 12 on a small, 6 on a med -->
            <div class="col s12 m6 l4">
                <a href="{{cat.category_slug}}" class="waves-effect waves-light" style="color:#000">
                    <div class="card-panel hoverable" style="height:395px; background-color:#FFFFFF;">
                        <div class="card-image">
                            <img class="responsive-img" src="{{ cat.category_image.url }}" style="width:380px;height: 190px;">
                            <br><span class="card-title"><h6><b>{{cat.category_title}}</b></h6></span>
                        </div>
                        <div class="card-content">
                            <p>{{cat.category_summary}}</p>
                        </div>
                        <div class="card-action center-align">
                            <a href="{{cat.category_slug}}" class="waves-effect waves-light btn" style="color: white; background-color:light blue"><b>Explore</b></a>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    </div>
</div>
{% endblock %}