{% extends 'main/header_form.html' %}
    {% block title %}Register | SignUp for Change{% endblock %}

    {% block content %}

        

        {% load static %}
        <!-- Slide 2 (#55) -->
<section class="slide fade-6 kenBurns">
        <div class="content">
          <div class="container">
            <div class="wrap">
      
              <div class="form-55">
                <div class="pad shadow left selected ae-3">
                      <form method="post">
                              {% csrf_token %}
                              {{ form.as_p}}
      <input type="submit" class="button wide blue gradient ae-10 margin-top-2 cropBottom" value="Register">
                 
                      </form>
                      <br>
                      If you already have an account <a href="/login" class="waves-effect waves-light btn orange darken-4">
                      <i class="material-icons left">group_work</i><b>Login</b></a> instead.
                </div>
              </div>
              
            </div>
          </div>
        </div>  
        <!-- <div class="background" style="background-image:url(assets/img/background/img-55.jpg)"></div> -->
        <div class="background" style="background-image:url({% static 'main/images/back1.jpg' %})"></div>
      
      </section>
      


    {% endblock %}