{% extends 'main/header.html' %}
{% block title %}Cateogry:&nbsp;{{category_title}}{% endblock %}
{% block content %}
<br>
<div class = "container">
    <a href="javascript:history.go(-1);" class="waves-effect waves-yellow btn">
            <i class="material-icons left">chevron_left</i>
            <b>Go Back</b>
    </a><br><br>
    <div class="row">        
        {% for cat in series %}
            <div class="col s12 m6 l4">
                <a href="{{cat.series_slug}}", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">{{cat.series_title}}</div>
                            <p>{{cat.series_summary}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}