<div id="feedback" class="modal">
    <div class="modal-content" style="color: black">
      <h4>Write your own Content and Contribute to Open-source</h4>
      <p>For writing your own content you must be sign in!</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="modal-close waves-effect waves-green btn">Go Back</a>
      <a href="/register" class="waves-effect waves-light btn"><i class="material-icons left">people</i><b>Register</b></a>
      <a href="/login" class="waves-effect waves-light btn orange darken-4"><i class="material-icons left">group_work</i><b>Login</b></a>

    </div>
  </div>