 <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating red tooltipped" data-position="left" data-tooltip="Analysis"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1 tooltipped" data-position="left" data-tooltip="Write your own Essay"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green tooltipped" data-position="left" data-tooltip="Upload"><i class="material-icons">publish</i></a></li>
      <li><a href="/feedback" class="btn-floating blue tooltipped" data-position="left" data-tooltip="Give Feedback"><i class="material-icons">feedback</i></a></li>
    </ul>
  </div>
        