 <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>

    <ul>
      <li><a class="btn-floating red tooltipped" data-position="left" data-tooltip="Analysis"><i class="material-icons">insert_chart</i></a></li>
      {% if user.is_authenticated %}
        <li><a href="/write_content" class="btn-floating yellow darken-1 tooltipped " data-position="left" data-tooltip="Write your own Essay"><i class="material-icons black">add_circle_outline</i></a></li>
      {% else %}
        <li><a href="#modal12" class="btn-floating yellow darken-1 tooltipped modal-trigger" data-position="left" data-tooltip="Write your own Essay"><i class="material-icons black">add_circle_outline</i></a></li>
      {% endif %}
      <li><a class="btn-floating green tooltipped" data-position="left" data-tooltip="Upload"><i class="material-icons">publish</i></a></li>
      <li><a href="#feedback" class="btn-floating blue tooltipped modal-trigger" data-position="left" data-tooltip="Give Feedback"><i class="material-icons">feedback</i></a></li>
    </ul>

  <!-- Modal Structure -->
  <div id="modal12" class="modal">
      <div class="modal-content" style="color: black">
        <h4>Write your own Content and Contribute to Open-source</h4>
        <p>For writing your own content you must be sign in!</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="modal-close waves-effect waves-green btn">Go Back</a>
        <a href="/register" class="waves-effect waves-light btn"><i class="material-icons left">people</i><b>Register</b></a>
        <a href="/login" class="waves-effect waves-light btn orange darken-4"><i class="material-icons left">group_work</i><b>Login</b></a>

      </div>
    </div>
   
    
    <!-- Modal of feedback -->
    <div id="feedback" class="modal" style="padding-bottom: 40px;">
      <div class="modal-content" style="color: black">
        <center><h4><b>Send Feedback</b></h4><h6>Describe your issue or share your ideas</h6></center>
        <br>
        <center>
        <a href="#" class="modal-close waves-effect red waves-green btn">Go Back</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/feedback" class="waves-effect waves-light btn"><b>Continue..</b></a>
      </center>
      </div>
      <div class="modal-footer">
        <center>
        <p>We will use the information you give us to help address technical issues and to improve our services, subject to our Privacy Policy and Terms of Service.
        </p></center>
        <!-- <a href="/login" class="waves-effect waves-light btn orange darken-4"><i class="material-icons left">group_work</i><b>Login</b></a> -->
  
      </div>
    </div>

  </div>
        