

<footer id = "footer" class="page-footer brown darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Aa gaye niche</h5>
                <p class="grey-text text-lighten-4">Yaha par abhi kuchh bhi nahi milne wala hai OK.....

                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">About us</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Company</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Careers</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Our Team</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">More</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright brown darken-4">
        <div class="container">
            © 2019 SKY All rights reserved
            <a class="grey-text text-lighten-4 right" href="#!">&nbsp;Terms of Use </a>
            <a class="grey-text text-lighten-4 right" href="#!">| Privacy Policy |</a>
        </div>
    </div>
</footer>
