

<footer id = "footer" class="page-footer brown darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Aa gaye niche</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any valuable feedback would help support and continue development on this project and is greatly appreciated.</p>
            </div>

            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Company</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Careers</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Our Team</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">More</a></li>
                </ul>
            </div>
        </div>
    </div>
   
       

    <div class="footer-copyright brown darken-4">
        <div class="container">
            © 2019 SKY All rights reserved
            <a class="grey-text text-lighten-4 right" href="#!">&nbsp;Terms of Use </a>
            <a class="grey-text text-lighten-4 right" href="#!">| Privacy Policy |</a>
        </div>
    </div>
</footer>
