{% load static %}
<style>
        header, main, footer {
          padding-left: 300px;
        }
        @media only screen and (max-width: 992px) {
          header, main, footer {
            padding-left: 0;
          }
        }
        @media only screen and (min-width: 1925px) {
          header, main, footer, .fixed-action-btn {
            padding-right: 300px !important;
            transition: all 0.5s ease;
          }
        }
    </style>

    <script>
        $(document).ready(function(){
          $('.sidenav').sidenav();
            $('#sidebar-1').sidenav({ edge: 'left' });  
        });
    </script>
        
    <header>
        <!-- Navigation bar goes Here -->
            <nav class="brown darken-1" role="navigation">
                <div class="nav-wrapper">
                    <div class="row">
                        <div class="col s12">
                            <a id="burger-icon-1" href="#" data-target="sidebar-1" class="left sidenav-trigger show-on-medium"><i class="material-icons">menu</i></a>
                            <a href="/" class="brand-logo">&nbsp;&nbsp;Editorials!<i class="material-icons large right" style="color:yellow;">
                                    sentiment_very_satisfied</i></a>
                            <ul id="nav-mobile" class="right hide-on-med-and-down">
                                    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                                    <li><a href="/community"><i class="material-icons left">people</i>Community</a></li>
                                    <li><a href="/about"><i class="material-icons left">domain</i>About</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
    </header>
        
            
    <!-- SIDEBAR .SIDENAV-FIXED -->
    <ul id="sidebar-1" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="{% static 'main/images/user-profile-bg.jpg' %}" style="width: 100%;">
                </div>
                <a href="#!user"><img class="circle" src="{% static 'main/images/sample-1.jpg' %}"></a>
                <a href="#!name"><span class="black-text name"><b>{{user.username}}</b></span></a>
                <a href="#!email"><span class="white-text email">satishkumary80@gmail.com</span></a>
            </div>
        </li>
            <li><a href="/account"><i class="material-icons">account_box</i>Account</a></li>
            <li><a href="/network"><i class="material-icons">people_outline</i>Network<span class="new badge">1</span></a></li>
            <li><a href="/setting"><i class="material-icons">settings_applications</i>Setting</a></li>
            <li><a href="/personal_content"><i class="material-icons">view_module</i>Your Contents</a></li>
       </ul>
            
            <!-- <ul class="sidenav" id="mobile-demo">
                    <li {% if request.get_full_path == '/' %}class="active"{% endif %}><a href="/"><i class="material-icons left">home</i>Home</a></li>
                    <li {% if request.get_full_path == '/community' %}class="active"{% endif %}><a href="/community"><i class="material-icons left">people</i>Community</a></li>
                    {% if user.is_authenticated %}
                        <li {% if request.get_full_path == '/write_content' %}class="active"{% endif %}><a href="/write_content"><i class="material-icons left">add</i>Contribute</a></li>
                        <li>
                            <ul id="dropdown2" class="dropdown-content">
                                <li><a href="/account">Account</a></li>
                                <li><a href="/network">Network<span class="new badge">1</span></a></li>
                                <li><a href="/setting">Setting</a></li>
                                <li><a href="/personal_content"><i class="material-icons">view_module</i>Your Contents</a></li>
                                <li><a href="#!"><i class="material-icons">cloud</i>Kake!</a></li>
                            </ul>
                            <a class="btn dropdown-trigger" href="#!" data-target="dropdown2">{{user.username|title}}
                                <i class="material-icons right">arrow_drop_down</i></a>
                        </li>
                        <li><a href="/logout" class="waves-effect waves-light btn orange darken-4"><i class="material-icons left">group_work</i>Logout</a></li>
                    {% else %}
                        <li {% if request.get_full_path == '/register' %}class="active"{% endif %}><a href="/register"><i class="material-icons left">person_add</i>Register</a></li>
                        <li {% if request.get_full_path == '/login' %}class="active"{% endif %}><a href="/login" class="waves-effect waves-light btn orange darken-4"><i class="material-icons left">group_work</i>Login</a></li>
                        <li {% if request.get_full_path == '/about' %}class="active"{% endif %}><a href="/about"><i class="material-icons left">domain</i>About</a></li>
                    {% endif %}
                </ul>
             -->